.gameField {
    width:  100px;

    height: 100px;

    background-color: rgb(53, 51, 51);  

    text-align: center;
    
    font-size: 35px; 
    
}


.a{

    background-color: green;

}

.b{
    background-color: red;    
}

.game{
  
    display: grid;
    grid-template: "a a a ";
    grid-row-end: 4;
    grid-column-gap: 10px;
    width: 300px;
    height: 300px;
}